*{
  font-family: 'Roboto Mono', monospace;
}

body{
  margin: 0;
  padding: 0;
  max-width: 100vw;
  max-height: 100vh;
  box-sizing: border-box;
}

header nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav .brand{
  background-color: #44005c;
  color: white;
  padding: 1% 3%;
  margin: 1%;
}

header nav .menu{
  margin-left: 3%;
  font-weight: 300;
}

header nav .menu a{
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

header nav .menu a:hover{
  color: #44005c;
}

main{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

main form{
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 1.2em;
  width: 320px;
  border: 2px solid #44005c;
  border-radius: 15px;
}

main form h4{
  text-align: center;
  margin: 0 0 1em 0;
}

main form input {
  margin-top: 0.5em;
  margin-bottom: 1em;
  padding: 5px;
}

main form button{
  display: flex;
  align-self: flex-end;
  justify-content: center;
  width: 100px;
  height: 30px;
  background-color: #44005c;
  color: white;
  border: 1px solid #44005c;
  border-radius: 5px;
  font-size: 1em;
}

.err{
  margin: 0;
  font-size: 0.8em;
  color: red;
}

#quiz{
  font-style: italic;
  font-size: 0.9em;
  border-bottom: 1px solid #44005c;
}

table{
  margin: 2%;
}

table th{
  background-color: #d3d3d3;
}

table th, td{
  padding: 1%;
  text-align: center;
}

tbody > tr:nth-child(even) {
  background-color: #d3d3d3;
}

table #btn-show, #btn-answer{
  border: none;
  cursor: pointer;
  color: #44005c;
}